html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
/*  //////////////////////////////////////////// */
/* глобальные значения */
p{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  background-color: rgb(64, 66, 182);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.nav{
  display: flex;
  justify-content: center;
}
.nav__item{
  padding: 16px 20px;
}